//background color
$THEME_BG_COLOR: #263238;
//title color
$THEME_TITLE_COLOR:#fff;
//bar color
$THEME_BAR_BG_COLOR: #3d3d3b;
//tint color
$THEME_TINT_COLOR: #3d3d3b;
//IDAC button text color
$THEME_BUTTON_TEXT_COLOR: #fff;
//IDAC button bg color
$THEME_BUTTON_BG_COLOR: #4f5b62;
//IDAC button bg color
$THEME_BUTTON_SECONDARY_BG_COLOR: #62757f;
//IDAC colors
$THEME_COLOR_PRIMARY:#546e7a;
$THEME_COLOR_DANGER:#ed3f14;
